[Paths]
# if data_root is empty all data will be saved in current working pathectory
data_path: data

assets: %(data_path)s/assets
input_path: %(assets)s/input
cells_path: %(assets)s/cells
output_path: %(assets)s/out

eosinofili_path: %(output_path)s/eosinofili
epiteliali_path: %(output_path)s/epiteliali
linfociti_path: %(output_path)s/linfociti
mastcellule_path: %(output_path)s/mastcellule
mucipare_path: %(output_path)s/mucipare
neutrofili_path: %(output_path)s/neutrofili
others_path: %(output_path)s/others

[Models]
models_path: models
classifier: %(models_path)s/classifier_cnn_model.h5
classifier_weights: %(models_path)s/weights.best.hdf5

[Misc]
input_img_extensions: .png;.jpeg;.jpg;
export_img_extension: .png
